@charset "utf-8";


// 热门品牌
.hotBrand{margin-bottom: 36px;}

.hotBrand ul{
    border-left:1px solid #f2f2f2;
    border-top:1px solid #f2f2f2;
    overflow:hidden;
    li{
        width:170px;
        float:left;
        border-right:1px solid #f2f2f2;
        border-bottom:1px solid #f2f2f2;
        img{
            width:170px;
            height:99px;
        }
    }
}

.hotBrand h3,.changeP h3{
    font-size: 24px;
    color: #131313;
    font-family: "微软雅黑";
    font-weight: normal;
    margin-bottom: 14px;
}


// 中慈助医

#footer-link .footer-link-title {
    height: 74px;
    line-height: 74px;
    color: #131313;
    font-size: 24px;
}

#footer-link .footer-link-list {
    font-size: 0px;
    height: 74px;
    a {
        display: inline-block;
        float: left;
        height: 74px;
        line-height: 74px;
        font-size: 18px;
        color: #eb4141;
        text-decoration: none;
        margin-right: 114px;
    }
}